<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investment Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Dashboard</a></li>
            <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('manage_platforms') }}">Manage Platforms</a></li>
            <li><a href="{{ url_for('manage_accounts') }}">Manage Accounts</a></li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 Investment Tracker App</p>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
